.section-1{
    display: flex;
    flex-direction: column;
    margin: 20px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F5FF 100%); 
    height: 524px;
    &__title{
        
        text-align: center;
        margin: 70px;
    }

    &__box{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
        margin: 0 auto; 
        // width: 1240px;
        &__card1{
            display: flex;
            flex-direction: column;
            list-style-type: none;
            width: 596px;
            height: 228px;
            background: #fff;
            padding: 30px;
            // margin: 0 auto;            
            &__main{
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                font-size: 16px;
                &__type{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    list-style-type: none; 
                                                           
                }
            }
            &:hover{
                box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
                border-radius: 5px;
            }
        }

    }
}